# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Build files
build/
dist/
*.egg-info/

# Environment variables
.env

# SQLite / local memory
*.sqlite
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
